version: '3'

services:
  mqtt:
    image: "eclipse-mosquitto"
    ports:
      - "1883:1883"
  redis:
    image: "redis"
    volumes:
      - redis-data:/data
  hub:
    image: "home-automation-hub"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
  proxy:
    image: "nginx:alpine"
    ports:
      - "8080:80"
    volumes:
      - "./system/nginx.conf:/etc/nginx/nginx.conf"

volumes:
  redis-data: