
<!DOCTYPE html>
<html>
<head>
    <meta name="module-id" content="{{ module_id }}" />
    <meta name="ws-auth-token" content="{{ ws_auth }}" />
    <meta name="ws-endpoint" content="ws://127.0.0.1:5001" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>window.app = {};</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}">
    <title>Smart Home Hub</title>
</head>
<body class="app sidebar-md-show sidebar-fixed">
    <nav class="navbar navbar-light bg-light">
        <a href="#" class="navbar-brand">Smart Home Hub</a>
    </nav>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <a href="/", class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                    <li class="nav-title">Modules</li>
                    {% for module in enabled_modules %}
                        <a href="/modules/{{ module.url_prefix }}/" class="nav-link">
                            <i class="nav-icon fas fa-{{ module.fontawesome_icon_class }}"></i>
                            {{ module.title }}
                        </a>
                    {% endfor %}
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    {% block module_scripts %}{% endblock %}
</body>
</html>