{% extends "base.html" %}

{% block module_head %}
<link rel="stylesheet" href="{{ module_base_path }}/static/css/heating.css">
{% endblock %}

{% block content %}
<div class="mt-2">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link{% if module_path_suffix=='' %} active{% endif %}" href="{{ module_base_path }}/">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if module_path_suffix=='timers' %} active{% endif %}" href="{{ module_base_path }}/timers/">Timers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if module_path_suffix=='settings' %} active{% endif %}" href="{{ module_base_path }}/settings/">Settings</a>
        </li>
    </ul>
    <div class="card card-tabbed">
        <div class="card-body">
            <!-- <h1>{% block card_title %}{% endblock %}</h1> -->
    
            
            <div class="container-fluid">
                {% block card_content %}{% endblock %}
            </div>
        </div>   
    </div>
</div>
{% endblock %}

{% block module_scripts %}
{% endblock %}