{% extends "heating/base.html" %}

{% block card_title %}Central Heating{% endblock %}

{% block card_content %}  
    <div class="float-right">
        <span class="badge badge-success{% if not ch_is_on %} d-none{% endif %}" id="badge_heating_on">Heating is on</span>
        <span class="badge badge-danger{% if ch_is_on %} d-none{% endif %}" id="badge_heating_off">Heating is off</span>
        <button class="btn btn-secondary" id="btn_toggle_heating">
            {% if ch_is_on %}
                Turn Off
            {% else %}
                Turn On
            {% endif %}
        </button>
    </div>

    <div class="card col-md-8 offset-md-2">
        <div class="card-body">
            <div class="text-center">
                Control Mode:
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="toggle-control-mode">
                    <label class="btn btn-secondary{% if control_mode=='manual' %} active{% endif %}" id="control-mode-manual">
                        <input type="radio" name="control-mode" data-mode="manual" autocomplete="off"{% if control_mode=='manual' %} checked{% endif %}> Manual
                    </label>
                    <label class="btn btn-secondary{% if control_mode=='timer' %} active{% endif %}" id="control-mode-timer">
                        <input type="radio" name="control-mode" data-mode="timer" autocomplete="off"{% if control_mode=='timer' %} checked{% endif %}> Timer
                    </label>
                </div>
            </div>

            <div id="manual-controls" class="mt-2{% if control_mode!='manual' %} d-none{% endif %}">
                <div id="manual-controls-container" class="text-center">
                    <div id="manual-control-form" class="form-inline {% if not manual_control_state or manual_control_state == "complete" %}d-block{% else %}d-none{% endif %}">
                        Turn on
                        <select class="form-control" id="select-manual-start-time">
                            <option value="now">Now</option>
                            <option value="at">At</option>
                        </select>

                        <input type="time" class="form-control d-none" id="manual-start-time" pattern="[0-9]{2}:[0-9]{2}" required>

                        <select class="form-control" id="select-manual-end-time">
                            <option value="indefinitely">Indefinitely</option>
                            <option value="until">Until</option>
                        </select>
                        
                        <input type="time" class="form-control d-none" id="manual-end-time" pattern="[0-9]{2}:[0-9]{2}" required>
                        <button class="btn btn-success" id="submit-manual-control">Go!</button>
                    </div>
                    {% if manual_control_state and manual_control_state != "complete" %}
                        <div class="alert alert-{% if manual_control_state == 'running' %}success{% else %}warning{% endif %}">
                            {{ manual_state_message }}
                        </div>
                    {% endif %}
                </div>
                <button id="btn-cancel-manual-operation" class="btn btn-danger{% if manual_control_state not in ['running', 'pending'] %} d-none{% endif %}">Cancel/Stop Manual Operation</button>
            </div>

            <hr>

            <div id="thermostat-control-container" class="text-center">
                <h5>Thermostat</h5>
                <div class="mx-auto" id="thermostat-controls">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary btn-thermostat-adjust" data-direction="decrement"><i class="fa fa-minus"></i></button>
                        </div>
                        <label class="input-group-text" id="thermostat-temperature-label"><span id="thermostat-temperature">{{ thermostat_temperature }}</span>&deg;C</label>
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-thermostat-adjust" data-direction="increment"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Temperature</th>
                <th>CH Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span id="val-temperature">{{ temperature }}</span>&deg;c</td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block module_scripts %}
<script src="{{ module_base_path }}/static/js/index.js"></script>
{% endblock %}