{% extends "heating/base.html" %}

{% block card_content %}

<form id="form-settings">
    <div class="form-group">
        <label for="num-readings-average" class="d-inline">Number of readings in temperature average</label>
        <input type="number" class="form-control d-inline" id="num-readings-average" name="num-readings-average" value="{{ num_readings_average }}" />
        <small class="form-help text-muted">
            This is the number of most recent temperature readings that will be averaged to determine the current temperature.
        </small>
    </div>
    <button class="btn btn-primary">Save</button>
</form>

{% endblock %}

{% block module_scripts %}
<script src="{{ module_base_path }}/static/js/settings.js"></script>
{% endblock %}