{% extends "heating/base.html" %}

{% block card_content %}

<form id="form-settings">
    <div class="form-group">
        <label for="num-readings-average" class="d-inline">Number of readings in temperature average</label>
        <input type="number" class="form-control d-inline" id="num-readings-average" name="num-readings-average" value="{{ num_readings_average }}" />
        <small class="form-help text-muted">
            This is the number of most recent temperature readings that will be averaged to determine the current temperature.
        </small>
    </div>
    <div class="form-group">
        <label for="thermostat-delta-below" class="d-inline">Thermostat Temperature Delta (Below)</label>
        <input type="number" class="form-control d-inline" id="thermostat-delta-below" name="thermostat-delta-below" step="0.5" value="{{ thermostat_delta_below }}" />
        <small class="form-help text-muted">
            How far below the set temperature the environment must be before thermostat turns heating on
        </small>
    </div>
    <div class="form-group">
            <label for="thermostat-delta-above" class="d-inline">Thermostat Temperature Delta (Above)</label>
            <input type="number" class="form-control d-inline" id="thermostat-delta-above" name="thermostat-delta-above" step="0.5" value="{{ thermostat_delta_above }}" />
            <small class="form-help text-muted">
                How far above the set temperature the environment must be before thermostat turns heating off
            </small>
        </div>
    <button class="btn btn-primary">Save</button>
</form>

{% endblock %}

{% block module_scripts %}
<script src="{{ module_base_path }}/static/js/settings.js"></script>
{% endblock %}