<tr>
    <td><input type="time" class="form-control" name="start-time[]" pattern="[0-9]{2}:[0-9]{2}" required></td>
    <td><input type="time" class="form-control" name="end-time[]" pattern="[0-9]{2}:[0-9]{2}" required></td>
    <td>
        <div class="input-group">
            <input type="number" class="form-control" step="0.5">
            <div class="input-group-append">
                <span class="input-group-text">&deg;C</span>
            </div>
        </div>
    </td>
    <td>
        <div class="day-button-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                <label class="btn btn-secondary" data-type="weekday"><input type="checkbox" autocomplete="off" value="0">M</label>
                <label class="btn btn-secondary" data-type="weekday"><input type="checkbox" autocomplete="off" value="1">T</label>
                <label class="btn btn-secondary" data-type="weekday"><input type="checkbox" autocomplete="off" value="2">W</label>
                <label class="btn btn-secondary" data-type="weekday"><input type="checkbox" autocomplete="off" value="3">T</label>
                <label class="btn btn-secondary" data-type="weekday"><input type="checkbox" autocomplete="off" value="4">F</label>
                <label class="btn btn-secondary" data-type="weekend"><input type="checkbox" autocomplete="off" value="5">S</label>
                <label class="btn btn-secondary" data-type="weekend"><input type="checkbox" autocomplete="off" value="6">S</label>
            </div>
            <p>Select: <a href="#" class="select-weekdays">Weekdays</a>, <a href="#" class="select-weekend">Weekend</a></p>
        </div>
    </td>
    <td></td>
</tr>